.center {
  display: flex;
  justify-content: center;
}

table {
  width: 100%;
}

.container {
  margin : 32px;
  margin-left: 5%;
  margin-right: 5%;
}

.example-form {
  min-width: 150px;
  max-width: 400px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.mat-raised-button {
 width: 100%;
 margin-bottom: 10px;
}

.mat-stroked-button {
  margin-right: 8px;
}

::ng-deep .success-snackbar {
  /* background: #1fcd98; */
  white-space: pre-wrap
}