<div class="container p-5 " >
    <div class="text-center">
        <h4>{{this.data.country}}</h4>
        <p></p>
        <p><b>Capital:</b> {{this.data.capital}}</p>
        <p><b>Area:</b> {{this.data.area | number: '2.'}} km²</p>
        <p><b>Population:</b> {{this.data.population | number: '2.'}}</p>
        <p><b>GDP:</b> {{this.data.gdp | number: '2.'}} USD</p>
        <p><b>Currency:</b> {{this.data.currency}}</p>
    </div>
</div>

<!-- <div class="container" >
    <div class="row">
        <h4>Country</h4>
    </div>
    <div class="row">
        <div class="col-md-3">
            Capital: 
        </div>
        <div class="col-md-3">
            Washington
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            Area: 
        </div>
        <div class="col-md-3">
            Area size
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            Population: 
        </div>
        <div class="col-md-3">
            Pop size
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            GDP: 
        </div>
        <div class="col-md-3">
            GDP Size
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            Currency: 
        </div>
        <div class="col-md-3">
            Currency size
        </div>
    </div>
</div> -->
