<h1>Test Angular</h1>
<comp-aside></comp-aside>
<app-header></app-header>

<p>------------------------------</p>
<app-button (clickEventHandler)="addCounter($event)" [name]="title"></app-button>
<p>{{counter}} kali diklik!</p>
<p>Text: {{text}}</p>


<p>------------------------------</p>
<p>Counter: {{num}}</p>
<app-counter-button (clickEventHandler)="increment()" [name]="'+'"></app-counter-button>
<app-counter-button (clickEventHandler)="decrement()" [name]="'-'"></app-counter-button>
<p>------------------------------</p>


<h3>Items: </h3>

<ul>
    <li *ngFor="let item of items">{{item}}</li>
</ul>

<app-add-new-item (newItemEvent)="addItemInParent($event)" (hapusItemEvent)="hapusItem()"></app-add-new-item>

<br>
<br>
<br>

<app-counter-button *ngIf="buttonState" (clickEventHandler)="setFalse()" [name]="'Klik saya'"></app-counter-button>
<app-counter-button [name]="'Button ke-disable'" [isDisabled]="true"></app-counter-button>
