<div class="shadow-dom-encapsulation">
    <h2 class="shadow-dom-encapsulation">Shadow-Dom Encapsulation</h2>
    <p class="shadow-dom-encapsulation">Shadow-Dom available in this component</p>
    <app-no-encapsulation></app-no-encapsulation>
    <app-emulated-encapsulation></app-emulated-encapsulation>
</div>


<!-- <div class="shadow-dom-encapsulation">
    <h2 class="shadow-dom-encapsulation">Shadow-Dom Encapsulation</h2>
    <p class="shadow-dom-encapsulation">Shadow-Dom available in this component</p>
</div> -->

